[submodule "api-lmm-best-pay"]
	path = api-lmm-best-pay
	url = https://github.com/LIghtJUNction/api-lmm-best-pay.git
[submodule "SmsForwarder"]
	path = SmsForwarder
	url = https://github.com/LIghtJUNction/SmsForwarder.git
