pkgbase = lmm-api-go-bin
	pkgdesc = LMM API Go backend, native CLI, systemd service, and web frontend (prebuilt)
	pkgver = 0.1.13
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = cosign
	depends = ca-certificates
	depends = systemd
	depends = tzdata
	optdepends = postgresql: production database
	optdepends = valkey: cache, rate limiting, and login sessions
	provides = lmm-api-go=0.1.13
	conflicts = lmm-api
	conflicts = lmm-api-bin
	conflicts = lmm-api-git
	conflicts = lmm-api-go
	conflicts = lmm-api-go-git
	noextract = lmm-api-go-0.1.13-linux-amd64.tar.gz
	noextract = lmm-api-go-0.1.13-linux-arm64.tar.gz
	options = !strip
	backup = etc/lmm-api-go/lmm-api-go.env
	source_x86_64 = lmm-api-go-0.1.13-linux-amd64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.13/lmm-api-go-0.1.13-linux-amd64.tar.gz
	source_x86_64 = lmm-api-go-0.1.13-linux-amd64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.13/lmm-api-go-0.1.13-linux-amd64.tar.gz.sha256
	source_x86_64 = lmm-api-go-0.1.13-linux-amd64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.13/lmm-api-go-0.1.13-linux-amd64.tar.gz.sigstore.json
	sha256sums_x86_64 = 56403ae403d1f9b5fe2879500ecf2b3da3b1792077ce95f71ffd7245bf83427a
	sha256sums_x86_64 = 8b53bf42276ae4655fe4b46790dc88fd2d1cb23912b280bf9c45a47abc9bd8da
	sha256sums_x86_64 = 8fd8fdfc91439db6cbf93d107c007ce62f4bc07c3de8261d505f6951b7866f36
	source_aarch64 = lmm-api-go-0.1.13-linux-arm64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.13/lmm-api-go-0.1.13-linux-arm64.tar.gz
	source_aarch64 = lmm-api-go-0.1.13-linux-arm64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.13/lmm-api-go-0.1.13-linux-arm64.tar.gz.sha256
	source_aarch64 = lmm-api-go-0.1.13-linux-arm64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.13/lmm-api-go-0.1.13-linux-arm64.tar.gz.sigstore.json
	sha256sums_aarch64 = 45e769bfb27916451264e2b24bfe904091ec4b8292036b2f78c8be303adf3fae
	sha256sums_aarch64 = 6bad43614a79ec4e6b7384d0def375514925297cf8e9449651a7efec9d437601
	sha256sums_aarch64 = cea1f575ef3b0809449d23c00eda327ee72cb7992dfad040769f2129e5880224

pkgname = lmm-api-go-bin
