pkgbase = lmm-api-go-bin
	pkgdesc = LMM API Go backend, native CLI, systemd service, and web frontend (prebuilt)
	pkgver = 0.1.14
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = cosign
	depends = ca-certificates
	depends = systemd
	depends = tzdata
	optdepends = postgresql: production database
	optdepends = valkey: cache, rate limiting, and login sessions
	provides = lmm-api-go=0.1.14
	conflicts = lmm-api
	conflicts = lmm-api-bin
	conflicts = lmm-api-git
	conflicts = lmm-api-go
	conflicts = lmm-api-go-git
	noextract = lmm-api-go-0.1.14-linux-amd64.tar.gz
	noextract = lmm-api-go-0.1.14-linux-arm64.tar.gz
	options = !strip
	backup = etc/lmm-api-go/lmm-api-go.env
	source_x86_64 = lmm-api-go-0.1.14-linux-amd64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.14/lmm-api-go-0.1.14-linux-amd64.tar.gz
	source_x86_64 = lmm-api-go-0.1.14-linux-amd64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.14/lmm-api-go-0.1.14-linux-amd64.tar.gz.sha256
	source_x86_64 = lmm-api-go-0.1.14-linux-amd64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.14/lmm-api-go-0.1.14-linux-amd64.tar.gz.sigstore.json
	sha256sums_x86_64 = e05a87f6a597a4c876cf6ac41f28a87bbb842b2c497a5d2cc5b8050e9f11801f
	sha256sums_x86_64 = 2041623f005d8935f45c7127c1aca7b84c96f7e65de209876246e40649016745
	sha256sums_x86_64 = ba612a668a43e2d06cf9c3cca268f9dd7a00b8f35255afc540856ab5257bc4ef
	source_aarch64 = lmm-api-go-0.1.14-linux-arm64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.14/lmm-api-go-0.1.14-linux-arm64.tar.gz
	source_aarch64 = lmm-api-go-0.1.14-linux-arm64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.14/lmm-api-go-0.1.14-linux-arm64.tar.gz.sha256
	source_aarch64 = lmm-api-go-0.1.14-linux-arm64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.14/lmm-api-go-0.1.14-linux-arm64.tar.gz.sigstore.json
	sha256sums_aarch64 = 8e2a00bcd96d2b6baba51c12c40f3f1a0c17edeadfe350e77b103428ac769464
	sha256sums_aarch64 = 3c7c56f17ae175971f471079784aded1a468d32791ad58c30d94872f7eef4170
	sha256sums_aarch64 = 903c664d2b8602e1ca4a609c283476cc3d58478a6583021deab2d805dc852fc6

pkgname = lmm-api-go-bin
