pkgbase = lmm-api-go-bin
	pkgdesc = LMM API Go backend, native CLI, systemd service, and web frontend (prebuilt)
	pkgver = 0.1.11
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = cosign
	depends = ca-certificates
	depends = systemd
	depends = tzdata
	optdepends = postgresql: production database
	optdepends = valkey: cache, rate limiting, and login sessions
	provides = lmm-api-go=0.1.11
	conflicts = lmm-api
	conflicts = lmm-api-bin
	conflicts = lmm-api-git
	conflicts = lmm-api-go
	conflicts = lmm-api-go-git
	noextract = lmm-api-go-0.1.11-linux-amd64.tar.gz
	noextract = lmm-api-go-0.1.11-linux-arm64.tar.gz
	options = !strip
	backup = etc/lmm-api-go/lmm-api-go.env
	source_x86_64 = lmm-api-go-0.1.11-linux-amd64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.11/lmm-api-go-0.1.11-linux-amd64.tar.gz
	source_x86_64 = lmm-api-go-0.1.11-linux-amd64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.11/lmm-api-go-0.1.11-linux-amd64.tar.gz.sha256
	source_x86_64 = lmm-api-go-0.1.11-linux-amd64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.11/lmm-api-go-0.1.11-linux-amd64.tar.gz.sigstore.json
	sha256sums_x86_64 = 129b44948b6e856546a3534ad7aa2405ec1c3bb12326e0ad48ec33d6cbcb69ad
	sha256sums_x86_64 = 5bb594a35961ab0e00d4885bf6e7f31ec493d768d61000924ca8608364da961b
	sha256sums_x86_64 = 6d8940a68af6be24b99b41426c56063f20a94c15ac6706bb2fd4d2c28858fdb5
	source_aarch64 = lmm-api-go-0.1.11-linux-arm64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.11/lmm-api-go-0.1.11-linux-arm64.tar.gz
	source_aarch64 = lmm-api-go-0.1.11-linux-arm64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.11/lmm-api-go-0.1.11-linux-arm64.tar.gz.sha256
	source_aarch64 = lmm-api-go-0.1.11-linux-arm64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.11/lmm-api-go-0.1.11-linux-arm64.tar.gz.sigstore.json
	sha256sums_aarch64 = 21d0119943ae88123404af97a5c3e61317d1553adb84531fbec53a9c4b197b51
	sha256sums_aarch64 = 72203b8e65b2fe32576fbed05f2f5d7ad9820453e2804ba2adfdf08acd4c9b08
	sha256sums_aarch64 = dc4198a5993e9723ab2a476a72011a6d41846267bb4618d81a96767da4e26425

pkgname = lmm-api-go-bin
