pkgbase = lmm-api-rs-bin
	pkgdesc = LMM API Rust client/server, bootstrap commands, and database migrator (prebuilt)
	pkgver = 0.1.6
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	makedepends = cosign
	depends = gcc-libs
	depends = glibc
	optdepends = postgresql: PostgreSQL database when running the server
	optdepends = valkey: cache and rate-limit service when running the server
	provides = lmm-api-rs=0.1.6
	conflicts = lmm-api-rs
	conflicts = lmm-api-rs-git
	noextract = lmm-api-rs-0.1.6-linux-amd64.tar.gz
	noextract = lmm-api-rs-0.1.6-linux-arm64.tar.gz
	options = !strip
	source_x86_64 = lmm-api-rs-0.1.6-linux-amd64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/cli-v0.1.6/lmm-api-rs-0.1.6-linux-amd64.tar.gz
	source_x86_64 = lmm-api-rs-0.1.6-linux-amd64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/cli-v0.1.6/lmm-api-rs-0.1.6-linux-amd64.tar.gz.sha256
	source_x86_64 = lmm-api-rs-0.1.6-linux-amd64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/cli-v0.1.6/lmm-api-rs-0.1.6-linux-amd64.tar.gz.sigstore.json
	sha256sums_x86_64 = SKIP
	sha256sums_x86_64 = SKIP
	sha256sums_x86_64 = SKIP
	source_aarch64 = lmm-api-rs-0.1.6-linux-arm64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/cli-v0.1.6/lmm-api-rs-0.1.6-linux-arm64.tar.gz
	source_aarch64 = lmm-api-rs-0.1.6-linux-arm64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/cli-v0.1.6/lmm-api-rs-0.1.6-linux-arm64.tar.gz.sha256
	source_aarch64 = lmm-api-rs-0.1.6-linux-arm64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/cli-v0.1.6/lmm-api-rs-0.1.6-linux-arm64.tar.gz.sigstore.json
	sha256sums_aarch64 = SKIP
	sha256sums_aarch64 = SKIP
	sha256sums_aarch64 = SKIP

pkgname = lmm-api-rs-bin
