pkgbase = lmm-api-rs-bin
	pkgdesc = LMM API Rust backend and database migrator (prebuilt)
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = cosign
	depends = lmm-api
	depends = gcc-libs
	depends = glibc
	optdepends = postgresql: PostgreSQL database
	optdepends = valkey: cache and rate-limit service
	provides = lmm-api-rs=0.1.2
	conflicts = lmm-api-rs
	conflicts = lmm-api-rs-git
	noextract = lmm-api-rs-0.1.2-linux-amd64.tar.gz
	options = !strip
	source = lmm-api-rs-0.1.2-linux-amd64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/v0.1.2/lmm-api-rs-0.1.2-linux-amd64.tar.gz
	source = lmm-api-rs-0.1.2-linux-amd64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/v0.1.2/lmm-api-rs-0.1.2-linux-amd64.tar.gz.sha256
	source = lmm-api-rs-0.1.2-linux-amd64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/v0.1.2/lmm-api-rs-0.1.2-linux-amd64.tar.gz.sigstore.json
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = lmm-api-rs-bin
