pkgbase = lmm-api-go
	pkgdesc = LMM API Go backend, native CLI, systemd service, and web frontend
	pkgver = 0.1.1.r124.gcf1159ddb
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = bun
	makedepends = git
	makedepends = go>=1.25.1
	depends = ca-certificates
	depends = systemd
	depends = tzdata
	optdepends = postgresql: production database
	optdepends = valkey: cache, rate limiting, and login sessions
	conflicts = lmm-api
	conflicts = lmm-api-bin
	conflicts = lmm-api-git
	conflicts = lmm-api-go-bin
	conflicts = lmm-api-go-git
	options = !strip
	backup = etc/lmm-api-go/lmm-api-go.env
	source = lmm-api-go::git+https://github.com/LIghtJUNction/api.lmm.best.git#commit=cf1159ddb2c14db57a9e9b4073dc6b1b66f0bc4d
	sha256sums = SKIP

pkgname = lmm-api-go
